.password-field {
  .toggle-btn {
    background-color: #e0e0e0;
    margin-left: -4px;
    border: none;
    /* font-weight: bold; */
    /* color: #000; */
    outline: none;
    padding: 10px 15px !important;
  }

  .toggle-btn:focus {
    outline: none !important;
  }

  .fa {
    color: #000;
  }

  input.form-control {
    border-radius: 0;
    padding: 22px 20px !important;
    font-size: 14px !important;
    border: none;
    background-color: #f3f3f3;
  }
}
