.fourOhFour {
  width: 35rem;
  height: auto;
  margin: 0 auto;
}

.col-box {
  height: 80vh;
  background: url("/assets/img/notFounds.png") center center no-repeat;
  background-size: contain;
  text-align: center;
}
