.custom-ui h1 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.react-confirm-alert-overlay {
  z-index: 300;
}
.react-confirm-alert-button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-ui button.btn {
  width: 60px;
}

.custom-ui .btn-red {
  width: 100px;
}

.custom-ui .btn-default {
  border-color: gray;
}

.custom-ui {
  width: 400px;
  padding: 30px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}
