$red: #ff0000;

#subscriptions {
  margin-top: 20px;

  img {
    width: 100px;
  }

  button.btn-red {
    background-color: $red;
    color: #fff;
  }

  button.btn-red:hover {
    color: #000;
  }
}
